body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: antiquewhite;
}
h1 {
    color: #2a2a2a;
}
img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    width: 800px;
    align-content: center;
}